<div class="row marketing">


<div class="panel panel-default">

  <div class="panel-heading"><h1>List of companies</h1> ( Click on company to view more details )</div>


  <table class="table">
  <tr ng-repeat="company in companyCtrl.companies track by $index" ng-click="companyCtrl.showBondInfo(company.companyId, company.legalName)" style="cursor: pointer;">
    <td>{{company.companyId}}</td>
      <td>{{company.legalName}}</td>
      <td>{{company.address}}</td>
     <td>{{company.revenue}}</td>
     <td>{{company.employees}}</td>
     <td>{{company.industry}}</td>
  </tr>
  </table>
</div>
<hr>
<uib-progressbar class="progress-striped active" ng-show="companyCtrl.showProgress === true" value="dynamic">Getting {{companyCtrl.companyName}} Bond details</uib-progressbar>
<div class="panel panel-default" ng-hide="companyCtrl.showDiv === false">

  <div class="panel-heading"><h1>{{companyCtrl.companyName}} Bond details:</h1></div>


  <table class="table">
  <tr  ng-repeat="bond in companyCtrl.bonds" >
    <td>Company Bond CUSIP:  {{bond.cusip}}</td>
      <td>Company Bond Coupon Rate:{{bond.couponRate}}</td>
      <td>Company Bond Price:{{bond.price}}</td>

  </tr>
  </table>
</div>


     <button ui-sref="main" type="button" class="btn btn-default" >
      Home
    </button>

</div>